@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Source+Serif+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Serief Pro', serif;
}

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: #616161;
}

#logo {
    float: left;
    font-size: 300%;
}

nav li {
    float: right;
    margin-right: 20px;
    list-style-type: none;
}


nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    border-bottom: 1px solid #3a3a3a;
}