@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Source+Serif+Pro&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    font-family: 'Source Serief Pro', serif;
    background-color: beige;
    position: absolute;
}

div {
    overflow: hidden;
}

#banner {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* logo */

#logo {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: #616161;
    margin-left: 5%;
    float: left;
    font-size: 250%;
    position: relative;
    animation: load 4s;
}

#logo:hover {
    color: black;
}

@keyframes load {
    from {
        left: -500px;
    }

    to {
        left: 0px;
    }
}

/* Nav Menu */
nav li {
    float: right;
    margin-right: 20px;
    list-style-type: none;
}


.join-button,
nav a {
    background-color: beige;
    border: 1px solid;
    border-radius: 15px;
    border-color: black;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    background-color: rgb(224, 223, 142);
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
}

#logo,
nav {
    line-height: 100px;
}

/* Main image */

#main-image-outer {
    padding-top: 100px;
    padding-bottom: 150px;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

#main-image {
    height: 400px;
    width: 100%;
    background: url('../images/135L.jpg') no-repeat center center;
    margin-left: auto;
    margin-right: auto;
}

/* content */


.content {
    padding-bottom: 100px;
}

#about {
    padding-left: 5%;
    padding-top: 5%;
}

h2 {
    margin-left: 5%;
    margin-bottom: 2%;
    font-size: 150%;
}

p {
    font-size: 150%;
    line-height: 200%;
    width: 80%;
    margin-left: 5%;
    text-align: justify;
}

/* Footer adapted from Love Running */

footer {
    width: 100%;
    position: fixed;
    padding-bottom: 10px;
    padding-top: 10px;
    bottom: 0;
    background: white;
    z-index: 100;
}

.social-networks {
    text-align: center;

}

.social-networks li {
    display: inline;
    padding: 5%
}

.social-networks i {
    font-size: 150%;
    color: #3a3a3a;
}


/* accordian adapted from https: //alvarotrigo.com/blog/css-accordion/ */

.accordion {
    margin: auto;
    width: 50%;
    padding-top: 5%;
}

.accordion input {
    display: none;
}

.box {
    font-family: Oswald, sans-serif;
    font-size: 150%;
    position: relative;
    background: rgb(255, 255, 255);
    height: 64px;
    transition: all .15s ease-in-out;
}

.box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

header.box {
    background: #17631d;
    z-index: 10;
    cursor: initial;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px -2px rgba(0, 0, 0, .12), 0 2px 4px -4px rgba(0, 0, 0, .24);
}

header .box-title {
    margin: 0;
    font-weight: normal;
    font-size: 16pt;
    color: white;
    cursor: initial;
}

.box-title {
    width: calc(100% - 40px);
    height: 64px;
    line-height: 64px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
}

.box-content {
    width: calc(100% - 40px);
    padding: 30px 20px;
    font-size: 11pt;
    color: rgba(0, 0, 0, .54);
    display: none;
}

.box-close {
    position: absolute;
    height: 64px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

input:checked+.box {
    height: auto;
    margin: 16px 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
}

input:checked+.box .box-title {
    border-bottom: 1px solid rgba(0, 0, 0, .18);
}

input:checked+.box .box-content,
input:checked+.box .box-close {
    display: inline-block;
}

.arrows section .box-title {
    padding-left: 44px;
    width: calc(100% - 64px);
}

.arrows section .box-title:before {
    position: absolute;
    display: block;
    content: '\203a';
    font-size: 18pt;
    left: 20px;
    top: -2px;
    transition: transform .15s ease-in-out;
    color: rgba(0, 0, 0, .54);
}

input:checked+section.box .box-title:before {
    transform: rotate(90deg);
}

#fair-day {
    padding-top: 200px;
}

iframe {
    width: 100%;
}


/* GALLERY WRAPPER */
.gallery {
    /*GRID LAYOUT - 3 IMAGES PER ROW */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}

/* GALLERY IMAGES */
.gallery img {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;

    /* cover | contain | fill | scale-down */
    object-fit: contain;
    position: relative;
}

/* Form */
.form-section {
    background: url('../images/135-bonnet.jpg') no-repeat center center;
    height: 900px;
    width: 100vw;
}

.signup-form {
    margin: 150px 10% 0 12%;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.8);
    max-width: 500px;
    float: left;
    padding: 30px;
    letter-spacing: 1px;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #17631d;
}


input[type=checkbox] {
    transform: scale(2);
    margin-right: 11px;
    border: 2px;

}

.alerts {
    padding: 10px;
}


.join-button {
    margin-top: 20px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    color: black;
    display: block;
}

.join-button:hover {
    background-color: rgb(224, 223, 142);
    color: #17631d;
}


/* For medium screens sizes from 1200px wide and up */
@media only screen and (min-width: 1200px) {

    #main-image {
        zoom: 130%;
    }

    #about {
        float: left;
        width: 60%;
    }

    #events {
        float: left;
        width: 30%;
        padding-right: 5%;
    }

    #logo {
        font-size: 300%;
    }

    .accordion {
        width: 100%;
    }
}

/* For small screens sizes from 850px wide and down */
@media screen and (max-width: 850px) {

    #main-image-outer {
        padding-top: 150px;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 5%;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .accordion {
        width: 70%;
    }

}

/* For small screens sizes from 550px wide and down */
@media screen and (max-width: 550px) {

    #logo {
        font-size: 160%;
    }

    p {
        font-size: 120%;
    }

    .accordion {
        width: 90%;
    }

    .box {
        font-size: 120%;
    }
}